body{
    background-color:white;
    }
 
.titre {
    color: red;
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
              } 
.sous_titre {
    color: green;
    font-family: verdana;
    font-size: 150%;
    text-align: left;
              } 